<div class="px-4 mx-3 mt-0 text-primary md:p-4">
    <div class="flex justify-between items-center  border-b-2 border-primary p-3 ">
        <div class="font-bold text-xl">All of it summarised - Just for you!</div>
        <div class="md:flex items-center font-bold text-xl gap-2 hidden">
            <span> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 text-secondary fill-secondary">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                </svg> </span>
            AI Summary
        </div>
    </div>
    <div class="text-xl mx-0 mt-8 overflow-hidden text-clip md:mx-6 md:mt-8">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, numquam sint sit itaque voluptate aut
        nesciunt nostrum placeat maxime eligendi unde atque ducimus ullam perferendis dignissimos facilis at beatae
        tempore, culpa sapiente velit repellat, alias blanditiis dolore.<br/> Praesentium eum doloremque necessitatibus
        atque, deserunt tempora. Eveniet laborum dolor fuga voluptatibus quisquam quas pariatur, nostrum consequuntur
        magni quibusdam. Corrupti, quibusdam perferendis molestias iusto possimus quo, quos officiis placeat
        exercitationem similique modi nostrum molestiae<br/> dignissimos at ex, ratione voluptas. Minus laudantium
        repellendus dolore ratione blanditiis excepturi doloremque natus magnam expedita explicabo? Ut voluptatem
        temporibus, nisi iusto laborum, repellat optio ducimus placeat molestiae<br/>, est exercitationem ad reiciendis
        distinctio hic voluptates modi ratione vero? In quae similique quod eius, adipisci aspernatur debitis eaque<br/>
        cupiditate, fuga error animi exercitationem ex maxime sequi nihil beatae doloremque ipsum saepe distinctio iste
        numquam. Numquam, cupiditate praesentium! Ratione possimus laudantium accusantium nam iure, exercitationem<br/>
        facere consequatur temporibus hic nisi, nesciunt ab beatae incidunt. Dicta vel minima nulla hic reiciendis
        cupiditate quisquam nisi nihil possimus optio itaque magni quibusdam doloribus sit, beatae quam modi molestiae
        praesentium officia veniam vero provident inventore, harum nam! Sint, id? Quam, magnam excepturi ea dolore id<br/>
        atque nihil! Assumenda sequi cum ipsam error temporibus iste harum iure deserunt, excepturi quod reiciendis
        inventore beatae dicta dolore numquam, illum eius saepe minus ea ducimus aliquid! Velit reprehenderit placeat
        molestiae odit quia temporibus ducimus inventore! Exercitationem, excepturi. Fugiat aspernatur corporis quo,
        animi reprehenderit accusantium porro nam magni quibusdam ut atque quasi molestiae alias consequatur, hic eum.
        Laudantium quos cupiditate fuga, autem eos, rem similique dolorum dolor cum sunt architecto quae id soluta
        maxime animi quam distinctio itaque, esse nam excepturi vel. Soluta iure quisquam libero necessitatibus ad
        nostrum minus cumque facere quo sint, placeat officiis modi vitae ut aut animi laudantium. Impedit corporis
        reiciendis fugiat quo ullam iste enim animi assumenda, a provident vero, aut nihil quas quasi alias autem labore
        quod optio velit ipsam. Sit deleniti tempore distinctio nemo maxime itaque laudantium quam et illo alias impedit
        assumenda recusandae, inventore labore reiciendis rem ex corporis dolorum quasi aliquam! Magnam<br/> voluptas
        explicabo fugit molestias repudiandae excepturi harum natus nobis, saepe debitis. Temporibus repudiandae quae
        voluptatibus aut esse culpa veniam, nemo fugiat quo, voluptates iusto ad vel est aperiam accusamus. Ducimus
        quisquam, obcaecati laboriosam unde laborum labore eaque doloremque aut, quas autem alias veritatis excepturi
        temporibus reprehenderit eveniet consequatur quia! In numquam cum soluta.<br/> Vitae laboriosam fuga repellendus quia
        natus. Sit, quia dolorum. Suscipit odit voluptatibus autem nostrum eligendi eveniet nesciunt explicabo, error
        quasi laudantium? Aut quos, velit error culpa nisi voluptatum, magni alias nostrum iure quam voluptatibus
        laboriosam accusamus quaerat illo cupiditate harum dolore! Quo perspiciatis sint dignissimos laboriosam ea vero
        iusto molestias, neque nihil in impedit,<br/> rem possimus excepturi eligendi? Reiciendis delectus velit ullam
        deserunt, eum nulla? Aliquid amet distinctio asperiores aperiam deleniti eligendi nostrum autem qui aspernatur
        ipsum repellendus atque modi ducimus eos, optio doloremque obcaecati, repellat quaerat? Porro, nemo? Doloribus
        corporis earum accusamus blanditiis, ullam amet consectetur dolore nam labore ad. Qui assumenda fugit nemo
        sapiente?
    </p>
     </div>
</div>