.animate-blink {
  animation: blink 1s infinite;
}

.animate-rotate {
  animation: rotate 1s infinite;
}
.animate-zoom {
  animation: zoom 1s infinite; 
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); 
  }
}